services:
  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
      CLUSTER_ID: "MkU3OEVBNTcwNTJENDM2Qk"
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list >/dev/null 2>&1"]
      interval: 2s
      timeout: 2s
      retries: 10
      start_period: 1s
    network_mode: host

  kafka-init:
    image: apache/kafka:latest
    container_name: kafka-init
    depends_on:
      kafka:
        condition: service_healthy
    entrypoint: ["/bin/sh", "-c", "chmod +x /specmatic/create-topics.sh && /specmatic/create-topics.sh"]
    volumes:
      - ./create-topics.sh:/specmatic/create-topics.sh
    restart: "no"
    network_mode: host

  sut:
    build:
      context: .
      dockerfile: Dockerfile
    image: order-service-sut:latest
    container_name: order-service-sut
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: localhost:9092
      TAX_SERVICE_BASE_URL: http://host.docker.internal:8090
    ports:
      - "8080:8080"
    healthcheck:
      test: [ "CMD-SHELL", "curl -fsS http://localhost:8080/actuator/health >/dev/null" ]
      interval: 2s
      timeout: 2s
      retries: 10
      start_period: 1s
    network_mode: host

  studio:
    image: specmatic/enterprise:latest
    container_name: studio
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    command: ["studio"]
    volumes:
      - .:/usr/src/app
    environment:
      STUDIO_MAX_TEST_COUNT: 1000
      KAFKA_BROKER_HOST: localhost:9092
    depends_on:
      sut:
        condition: service_healthy
    network_mode: host
